@import 'src/scss/constants.scss';

.topbar {
	width: 100%;
	background-color: $primary-color;
	height: 56px;
	color: #fff;
}

.topbar__navigation {
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	padding: 0 1rem;
}

.topbar__brand {
	margin-left: 0.5rem;
	a {
		font-weight: bold;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.5em;
	}
}
.topbar__navigation-group {
	ul {
		list-style: none;
		display: flex;
		li {
			padding: 0 0.5rem;
			a {
				color: #fff;
				text-decoration: none;
				text-transform: capitalize;
			}
			a:hover,
			a:active {
				color: $primary-color-B;
			}
		}
	}
}
