$primary-color: #17a2b8;
$primary-color__a: #72cfdc;
$primary-color__b: #4bcadc;
$primary-color__c: #2f7f8a;
$primary-color__d: #076a78;
$primary-color-B: #ffb71c;
$primary-color-C: #ff2c1c;
$primary-color-D: #9aba2f;
$primary-color-E: #d46842;
$bg-color: #1a1d21;
$window__bg-color: #2a2e33;
$window__acсent_bg-color: #202428;
$window__color: #a0a5a9;
