@import './constants.scss';
* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	background-color: $bg-color;
	color: $window__color;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
main {
	margin-bottom: $footer__height;
}
.loading {
	margin: 0 auto;
}
.t-a-c {
	text-align: center;
}
.LazyLoad {
	opacity: 0;
	transition: all 2s ease-in-out;

	&.is-visible {
		opacity: 1;
	}
}
